[Verification_Report](https://mirafra2-my.sharepoint.com/:b:/r/personal/spoorthibhat_mirafra2_onmicrosoft_com/Documents/ALU_Report_SpoorthiBhatK_6935.pdf?csf=1&web=1&e=5nUmrj)
